<form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
  <div class="example-container">
    <mat-form-field appearance="fill" [style.width.px]="400">
      <mat-label>Title</mat-label>
      <input id="title" matInput formControlName="title">
    </mat-form-field>
    <mat-error *ngIf="title.hasError('required') && title.touched">
      Title is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="title.hasError('maxlength')">
      Maximum length of Title is <strong>50</strong>
    </mat-error>
    <br>
    <mat-form-field appearance="fill" [style.width.px]="400">
      <mat-label>Image(URL only)</mat-label>
      <input matInput formControlName="img">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" [style.width.px]="400">
      <mat-label>Content</mat-label>
      <textarea id="content" matInput formControlName="content"></textarea>
    </mat-form-field>
    <mat-error *ngIf="content.hasError('required') && content.touched">
      Content is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="content.hasError('maxlength')">
      Maximum length of Content is <strong>500</strong>
    </mat-error>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [disabled]="!blogForm.valid">Ok</button>
  </div>
</form>